<odoo>
    <menuitem id="menu_field" name="HRMS" sequence="-2"/>

    <menuitem id="config" name="Cấu hình" parent="menu_field" sequence="1"/>
    <menuitem id="block" name="Khối" parent="config" sequence="10" action='hrms.block_action'/>
    <menuitem id="system" name="Hệ thống" parent="config" sequence="20" action=''/>
    <menuitem id="subsidiaries" name="Công ty" parent="config" sequence="30" action=""/>
    <menuitem id="team" name="Đội ngũ" parent="config" sequence="40" action=""/>
    <menuitem id="departments" name="Phòng ban" parent="config" sequence="50" action="departments_action"/>
    <menuitem id="position" name="Vị trí" parent="config" sequence="60" action=""/>
    <menuitem id="employee" name="Nhân viên" parent="config" sequence="70" action=""/>
    <menuitem id="ranks" name="Cấp bậc" parent="config" sequence="90" action=""/>
    <menuitem id="managers" name="Người quản lý" parent="config" sequence="100" action=""/>
    <menuitem id="document" name="Tài liệu" parent="config" sequence="110" action=""/>
    <menuitem id="approval_flow" name="Luồng phê duyệt" parent="config" sequence="120" action=""/>

    <menuitem id="employee" name="Nhân viên" parent="menu_field" sequence="20"/>

</odoo>