<odoo>
    <menuitem id="menu_field" name="HRMS" sequence="-2"/>

    <menuitem id="config" name="Configuration" parent="menu_field" sequence="1"/>
    <menuitem id="block" name="Block" parent="config" sequence="10" action='HRMs.block_action'/>
    <menuitem id="system" name="System" parent="config" sequence="20" action=''/>
    <menuitem id="subsidiaries" name="Subsidiaries" parent="config" sequence="30" action=""/>
    <menuitem id="team" name="Team" parent="config" sequence="40" action=""/>
    <menuitem id="departments" name="Departments" parent="config" sequence="50" action=""/>
    <menuitem id="position" name="Position" parent="config" sequence="60" action=""/>
    <menuitem id="employee" name="Employee" parent="config" sequence="70" action=""/>
    <menuitem id="subsidiaries" name="Subsidiaries" parent="config" sequence="80" action=""/>
    <menuitem id="ranks" name="Ranks" parent="config" sequence="90" action=""/>
    <menuitem id="managers" name="Managers" parent="config" sequence="100" action=""/>
    <menuitem id="document" name="Document" parent="config" sequence="110" action=""/>
    <menuitem id="approval_flow" name="Approval flow" parent="config" sequence="120" action=""/>

    <menuitem id="employee" name="Employee" parent="menu_field" sequence="20"/>

</odoo>